body {
    margin: 0;
    user-select: none;
    background-color: rgb(0, 0, 0);
}

#Info {
    position: absolute;
    top: 20px;
    right: 10px;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    background-color: #00f;
    font-family: Arial, sans-serif;
    z-index: 2;
    opacity: 0;
    
}
.text {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  margin-bottom: -35vh;
   position: absolute;

  top: 49%;

  left: 50%;

  margin-top: -250px;

  margin-left: -200px;
  
}
#Canvas {  
  margin-top: 50px;
    display: block; 
}

#sumi path {
  fill: transparent;
  stroke: rgba(0,212,255,1);
  stroke-width: 0.8;
  stroke-dasharray: 1100;
  stroke-dashoffset: 1100;
  animation: textAnimation 5s ease-in-out 1 forwards;
}

@keyframes textAnimation{
  0%{
    stroke-dashoffset: 1100;
  }
  80%{
    fill:transparent;
    stroke: #fff;
  }
  100%{
   fill: url(#gradient);
    stroke-dashoffset: 0;
   stroke: #000;
  }
}


body {
  background: #000;
}
#Body path {
  stroke: #00ff30;
}
#TopRed path {
  stroke: #ff0000;
}
#Bottom_Blue path {
  stroke: #00c6ff;
}
#Bottom_Green path {
  stroke: #69e692;
}
#TopYellow path {
  stroke: #fff000;
}
#BottomYellow path {
  stroke: #fff000;
}
.st0 {
  /*fill:#8CC63F;*/
  /*stroke: #8CC63F;*/
  fill: none;
  stroke: #fbb03b;
  stroke-miterlimit: 10;
}
.st1 {
  fill: none;
  stroke: #8cc63f;
  stroke-miterlimit: 10;
}
.st2 {
  fill: none;
  stroke: #ffff00;
  stroke-miterlimit: 10;
}
.st3 {
  fill: #65c8d0;
}
.st4 {
  fill: #0000ff;
}

.butterfly {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  x: 0;
  y: 0;
  width: 500px;
  height: 500px;
  viewbox: 0 0 500 500;
  enable-background: new 0 0 500 500;
  animation: wrapper 5s ease-in-out ;
}

.st0 {
  stroke-dasharray: 640;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: draw-around 5s ease-in-out ;
  animation: draw-around 5s ease-in-out ;
}

@-webkit-keyframes draw-around {
  0% {
    stroke-dashoffset: 640;
  }
  10% {
    stroke-dashoffset: 640;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes draw-around {
  0% {
    stroke-dashoffset: 640;
  }
  10% {
    stroke-dashoffset: 640;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes wrapper {
  0% {
    opacity: 0;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }
  20% {
    opacity: 1;

    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: none;
  }
}

@-webkit-keyframes wrapper {
  0% {
    opacity: 0;

    -webkit-filter: blur(15px)
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
  }
  20% {
    opacity: 1;

    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: none;
  }
}

.butterfly {
  position: absolute;

  top: 22%;

  left: 90%;

  margin-top: -250px;

  margin-left: -250px;

  width: 300px;

  height: 300px;

  viewbox: 0 0 1000 1000;

  enable-background: new 0 0 1000 1000;

  animation: wrapper 6s ease-in-out ;

  transform: scaleX(-1); /* Invert colors of the SVG */
}
